

.button{
    padding: 25px 45px;
    text-transform: uppercase;
    border: none;
    background-color: $primary;
    color: white;
    @include bold;
}

.input {
    height: 80px;
    padding-left: 30px;
    border: 1px solid #dddddd;
    box-sizing: border-box;
}

input[type=checkbox]{
    display: none;
}

.bg-secondary {
    background-color: $bg-secondary;
}



// Адаптивная верстка.

@media (min-width: 768px) and (max-width: 991px) {
    .input{
        height: 60px;
    }
}

@media (max-width: 767px) {
    .input{
        height: 40px;
        padding-left: 15px;
    }
}