a {
    text-decoration: none;
}

button{
    outline: none;
}

.section {
    padding: 100px 0;

    &-title {
        font-size: 30px;
        @include bold;
        text-transform: uppercase;
        text-align: center;
    }

    &__title {
        margin-bottom: 100px;
    }

    &-title-h3 {
        font-size: 24px;
        @include bold;
    }

    &-title__h3 {
        margin-right: 40px;
    }
}

.button {
    padding: 25px 45px;
    text-transform: uppercase;
    border: none;
    background-color: $primary;
    color: white;
    @include bold;
    text-decoration: none;
}

.input {
    height: 80px;
    padding-left: 30px;
    border: 1px solid #dddddd;
    box-sizing: border-box;
}

input[type=checkbox] {
    display: none;
}

.bg-secondary {
    background-color: $bg-secondary;
}

// Карточки информации в блоке "blog" и "price".

.section-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    &__item{
        margin-bottom: 20px;
    }
    &-item {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        max-width: 284px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);

        .section-group__img {
            width: 100%;
        }

        .section-group__title {
            display: inline-block;
            margin: auto;
            text-align: center;
            font-size: 18px;
            padding: 30px 30px;
            color: black;
            width: 100%;
        }
    }
}



// Адаптивная верстка.

@media (max-width: 1200px) {
    .section-group {
        justify-content: center;
        align-items: center;
        &__item{
            margin-bottom: 0px;
            margin: 20px;
        }
    }    
}

@media (min-width: 768px) and (max-width: 991px) {
    .input {
        height: 60px;
    }
}

@media (max-width: 767px) {
    .input {
        height: 40px;
        padding-left: 15px;
    }
}