@media (min-width: 992px) and (max-width: 1200px) {

    .offer {
        .container {
            .offer-block {
                background-position-x: 650px;
                .form__row{
                    .form__group{
                        .form-btn{
                            height: 80px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .menu{
        width: 25%;
        padding: 30px 0px;
        &__nav{
            align-items: flex-start;
            flex-direction: column;
            .menu__link{
                font-size: 17px;
                margin-bottom: 10px;
                &:last-child{
                    margin-bottom: 0px;
                }
                &:hover{
                    color: black;
                }
            }
        }
    }

    .navbar-wrap{
        .mobile-none{
            display: none;
        }
    }

    .hero{
        background: #f1f1f1 url('../img/hero/hero-top-bacground.png') no-repeat center left;
        background-size: cover;
        background-position-x: -570px;
    }

    .offer {
        .container {
            .offer-block {
                padding: 60px 80px;
                background-position-x: 72vw;
                .form__row{
                    .form__group{
                        .form-btn{
                            height: 60px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 767px) {

    .menu{
        width: 40%;
        padding: 30px 0px;
        &__nav{
            align-items: flex-start;
            flex-direction: column;
            .menu__link{
                font-size: 17px;
                margin-bottom: 10px;
                &:last-child{
                    margin-bottom: 0px;
                }
                &:hover{
                    color: black;
                }
            }
        }
    }

    .navbar-wrap{
        .mobile{
            display: none;
        }
    }

    .hero{
        background: #f1f1f1 url('../img/hero/hero-top-bacground.png') no-repeat center left;
        background-size: cover;
        background-position-x: -620px;
        background-position-y: 25px;
    }

    .offer {
        .container {
            .offer-block {
                padding: 60px 80px;
                background-position-x: 430px;
                .form__row{
                    .form__group{

                        .form-btn{
                            height: 60px;
                        }
                    }
                }
                .row-submit{
                    flex-direction: column;
                    align-items: flex-start;
                    .form__group{
                        margin-bottom: 20px;
                        &:last-child{
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 425px) and (max-width: 575px) {

    .menu{
        width: 50%;
        padding: 30px 0px;
        &__nav{
            align-items: flex-start;
            flex-direction: column;
            .menu__link{
                font-size: 17px;
                margin-bottom: 10px;
                &:last-child{
                    margin-bottom: 0px;
                }
                &:hover{
                    color: black;
                }
            }
        }
    }

    .navbar-wrap{
        .mobile{
            display: none;
        }
        .navbar__button{
            padding: 17px 0px;
        }

        .logo {
            margin-left: 6px;
            .logo__text {
                font-size: 14px;
            }
            .logo__description {
                font-size: 12px;
            }
        }
    }


    .hero{
        background: #f1f1f1 url('../img/hero/hero-top-bacground.png') no-repeat center left;
        background-size: cover;
        background-position-x: -620px;
        background-position-y: 25px;
    }

    .offer {
        .container {
            .offer-block {
                &__title {
                    font-size: 22px;
                }
    
                &__subtitle {
                    font-size: 18px;
                }
                padding: 30px 40px;
                background-position-x: 430px;
                background: white;
                .form__row{
                    flex-direction: column;
                    align-items: flex-start;
                    .form__checbox{
                        margin-bottom: 20px;
                    }
                    .form__group{
                        margin-bottom: 20px;
                        .form__label {
                            font-size: 16px;
                            display: block;
                            margin-bottom: 6px;
                        }
                        .form-btn{
                            height: 60px;
                        }
                    }
                }
                .row-submit{
                    .form__group{
                        &:last-child{
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 424px) {

    .menu{
        width: 100%;
        padding: 30px 0px;
        &__nav{
            align-items: flex-start;
            flex-direction: column;
            .menu__link{
                font-size: 17px;
                margin-bottom: 10px;
                &:last-child{
                    margin-bottom: 0px;
                }
                &:hover{
                    color: black;
                }
            }
        }
    }

    .navbar-wrap{
        .mobile{
            display: none;
        }
        .navbar__button{
            display: none;
        }

        .logo {
            margin-left: 0px;
            .logo__text {
                font-size: 14px;
            }
            .logo__description {
                font-size: 12px;
            }
        }
    }


    .hero{
        background: #f1f1f1 url('../img/hero/hero-top-bacground.png') no-repeat center left;
        background-size: cover;
        background-position-x: -700px;
        background-position-y: -50px;
        padding-bottom: 70px;

        .container{
            margin-top: 200px;
        }


        .hero-title{
            font-size: 26px;
        }
        &__subtitle{
            font-size: 24px;
        }
    }

    .offer {
        margin-top: 100px;
        .container {
            .offer-block {
                &__title {
                    font-size: 22px;
                }
    
                &__subtitle {
                    font-size: 14px;
                }
                padding: 30px 40px;
                background-position-x: 430px;
                background: white;
                .form__row{
                    flex-direction: column;
                    align-items: flex-start;
                    .form__checbox{
                        margin-bottom: 20px;
                    }
                    .form__group{
                        margin-bottom: 20px;
                        .form__label {
                            font-size: 16px;
                            display: block;
                            margin-bottom: 6px;
                        }
                        .form-btn{
                            height: 60px;
                            padding: 10px 16px;
                        }
                    }
                }
                .row-submit{
                    .form__group{
                        &:last-child{
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }
}