.contacts{
    background-color: $bg-secondary;
    &-block{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        &__item{
            text-align: center;
            .contacts__img{
                margin-bottom: 25px;
                max-width: 30px;
            }
            .contacts__text{
                font-size: 16px;
                margin: auto;
                .contacts__link{
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
}


// Адаптивная верстка.

@media (max-width: 676px) {
    .contacts{
        &-block{
            &__item{
                .contacts__text{
                    max-width: 180px;
                }
            }
        }
    }
}

@media (max-width: 474px) {

    .contacts{
        &-block{
            justify-content: center;
            &__item{
                width: 100%;
                margin-bottom: 60px;
                &:last-child{
                    margin-bottom: 0px;
                }
            }
        }
    }
}