.menu {
    width: 100%;
    position: fixed;
    left: 0;
    top: 80px;
    padding: 16px 0;
    background-color: $primary;
    transition: 0.4s all;
    transform: translateY(-100%);
    opacity: 0;

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-around;

        .menu__link {
            text-decoration: none;
            font-size: 17px;
            text-transform: uppercase;
            color: white;

            &:hover {
                color: black;
            }
        }
    }
}

.menu_active {
    transform: translateY(0);
    opacity: 1;
}

@media (max-width: 991px) {
    .menu {
        width: 25%;
        padding: 30px 0px;

        &__nav {
            align-items: flex-start;
            flex-direction: column;

            .menu__link {
                font-size: 17px;
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0px;
                }

                &:hover {
                    color: black;
                }
            }
        }
    }
}

// Адаптивная верстка.

@media (max-width: 767px) {

    .menu {
        width: 40%;
    }

}

@media (max-width: 575px) {

    .menu {
        width: 50%;
    }
}

@media (max-width: 424px) {

    .menu {
        width: 100%;
    }
}