.questions {
    &-block {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;

        .questions__title {
            font-size: 28px;
        }

        .questions__link {
            font-size: 22px;
            text-decoration: underline;
            color: $primary;
        }
    }
}

// Адаптивная верска.

@media (max-width: 555px) {
    .questions {
        &-block {
            .questions__title {
                width: 100%;
                margin-right: 0px;
                font-size: 24px;
            }

            .questions__link {
                font-size: 18px;
            }
        }
    }
}